<app-header></app-header>

<div class="w-5/6 mx-auto my-24 flex flex-col items-center">
  <app-splitter [alternateColor]="false" class="w-2/4" />
  <div class="my-8">
    <p class="bodyText">
      El carácter modular de las reglas de GURPS hace que sólo con el libro de reglas básico se pueda jugar una partida
      de cualquier género
      imaginable, desde fantasía hasta ciencia ficción, misterio, horror, etc. Eso significa que para jugar una partida
      en específico no sólo es
      recomendable, sino incluso obligatorio, ignorar parte de estas reglas básicas para evitar que el juego se vuelva
      demasiado pesado como para ser divertido.
    </p>
    <p class="bodyText">
      En esta página se resumirán las principales reglas, junto con un código de referencia que indica la página del libro
      básico que explica dicha regla en mayor profundidad. Si no sabes cómo conseguir una copia del libro, dimelo y lo 
      solucionaremos.
    </p>
  </div>
</div>