
<div class="w-5/6 mx-auto flex flex-col items-center mt-28 expand" 
  (click)="toggleExpanded()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
>
  <app-splitter [alternateColor]="hovered || expanded" class="w-2/4"/>
    <div class="my-3 p-3 w-5/6 flex flex-col items-center cursor-pointer">

      <ng-content select="[heading]"></ng-content>
      
      <div class="w-full" [@expandAnimation]="expanded ? 'expanded' : 'collapsed'">
        <ng-content></ng-content>
      </div>
    
    </div>
  <app-splitter [alternateColor]="hovered || expanded" [flipped]=true class="w-2/4"/>
</div>
