<div class="my-4 overflow-hidden">
  <div class="flex items-center cursor-pointer z-[2]" (click)="toggleSection()">
    <span class="bodyText px-3 transition-colors duration-300 ease-in-out" 
      [ngClass]="isShown ? 'text-secondary' : ''"
      [@rotateAnimation]="{value: isShown ? 'active' : 'normal', params: {degrees: 90}}">></span>
    <h1 class="text-4xl font-titleFont">{{sectionTitle}}</h1>
  </div>
  <div [@expandAnimationNoFade]="isShown ? 'expanded' : 'collapsed'"
    class="ml-[0.95rem] pl-6 border-l-2 border-primary z-[1]">
    <h2 *ngIf="pageRef" class="text-2xl bodyText">Página: B{{pageRef}}</h2>

    <ng-content />

  </div>

</div>