
  <div appRipple class="mt-16 mb-32 mx-auto w-3/4 h-96 
      bg-cover border-4 border-primary cursor-pointer
      overflow-hidden container-box flex justify-center relative" 
      [style.background-image]="'url(' + imgSrc + ')'">
    <div class="slider-l h-full z-[1]"></div>
    <div class="slider-r h-full z-[1]"></div>
    <div class="linkDiv slider-bg absolute h-full flex justify-center items-center overflow-hidden bg-base-100">
      <div class="absolute h-full flex flex-col items-center justify-center text-center">
        <span class="text-5xl font-titleFont mb-[4.5rem]">{{title}}</span>
        <span class="text-2xl mb-4">{{text}}</span>
      </div>
    </div>
  </div>
