<app-header></app-header>

<app-info-section #gameSection>
  <h1 heading class="text-6xl font-titleFont">La campaña</h1>
  <p class="mt-4 bodyText">
    La partida será bastante diferente a una campaña de rol corriente: no hay una historia predefinida por el DM, con un
    contrato social implícito de que, aunque los jugadores tienen la libertad de hacer lo que quieran, no ignorarán
    activamente la historia preparada por el DM echando por tierra su trabajo y preparación. El objetivo de la partida
    es que, por medio de por medio de la exploración de un mundo salvaje y desconocido, los <i>jugadores</i> sean los
    encargados de "construir" su propia historia.
  </p>
  <p class="bodyText">
    Skyrim es un buen ejemplo de esta idea: una de las partes más divertidas de ese juego no es seguir la flecha que te
    indica a dónde ir para progresar la historia. Es empezar a caminar sin rumbo y ver qué te encuentras. Encontrar una
    cueva, explorarla y encontrar pistas acerca de un campamento de bandidos que recientemente ha dado un lucrativo
    golpe. Pero tras buscar ese campamento de bandidos, descubres que el botín más interesante no son las joyas y el
    oro: es la llave que el bandido jefe guardaba en su bolsa, que supuestamente abre la puerta de unas ruinas perdidas
    de una civilización olvidada.
  </p>
  <p class="bodyText mt-4">
    Es esta clase de "aventura emergente" la que se busca emular en la campaña de las Tierras Veladas. Se busca que los
    jugadores sean los impulsores de la partida, ellos sean quienes tienen el control. En esencia, que los jugadores tengan
    la posibilidad de elegir sus propias aventuras.
  </p>
  <p class="bodyText mt-4">
    <a href="https://arsludi.lamemage.com/index.php/78/grand-experiments-west-marches/" class="text-secondary underline" target="_blank" (click)="stopPropagation($event)">
      Este artículo
    </a> del creador original de este estilo de juego ofrece más información y una visión más completa de la idea de esta campaña.
  </p>
</app-info-section>

<app-info-section #worldSection>
  <h1 heading class="text-6xl font-titleFont">El mundo</h1>
  <p class="my-4 bodyText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime commodi deleniti accusamus
    reprehenderit beatae neque nam minima nihil dolorem odit! Minus quod, natus laudantium facilis pariatur quae
    exercitationem iusto repellendus deserunt eveniet obcaecati veniam ab sit animi molestiae ad optio quibusdam
    aspernatur perferendis voluptatem? Modi labore quibusdam numquam sunt quaerat excepturi laudantium, nam sapiente a
    molestiae nostrum nobis voluptatem similique blanditiis ut, facere corrupti et mollitia quidem ab nesciunt odio!
    Odio nobis esse vero sed? Ullam in soluta deleniti maxime aspernatur! Harum temporibus, iste voluptatem corrupti
    culpa facilis totam consectetur.</p>

  <p class="bodyText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, incidunt, odio repellat reiciendis
    corporis accusantium placeat sint tempora, possimus optio ipsa nobis? Ducimus repudiandae nisi rem totam, aliquid
    animi earum hic error quam optio accusantium consequatur iusto, ratione, iste non voluptate facilis nulla nesciunt
    consequuntur debitis deserunt pariatur temporibus rerum? Adipisci, vel corrupti deserunt incidunt facere expedita
    quam? Autem eaque voluptates expedita eius, nihil placeat quo assumenda nesciunt dolor? Pariatur magni possimus
    quibusdam quasi qui similique labore nihil facere earum? Illo, corrupti tempora praesentium et quas magnam amet qui
    accusantium totam ad maxime voluptate sunt rerum aliquam expedita animi placeat optio ratione. Molestiae temporibus
    fuga harum reiciendis, tempore maxime? Vitae corrupti distinctio ut, numquam enim magni sint itaque recusandae at
    dolorem consequuntur laborum iure harum voluptatem ducimus delectus necessitatibus autem. Necessitatibus ad cumque
    pariatur, vero optio, recusandae sunt ipsam reprehenderit assumenda, debitis tempora ab nihil culpa. Delectus vel
    minima incidunt!</p>
</app-info-section>