<app-header></app-header>

<app-info-section #gameSection>
  <h1 heading class="text-6xl font-titleFont">La campaña</h1>
  <p class="mt-4 bodyText">
    La partida será bastante diferente a una campaña de rol corriente: no hay una historia predefinida por el DM, con un
    contrato social implícito de que, aunque los jugadores tienen la libertad de hacer lo que quieran, no ignorarán
    activamente la historia preparada por el DM echando por tierra su trabajo y preparación. El objetivo de la partida
    es que, por medio de por medio de la exploración de un mundo salvaje y desconocido, los <i>jugadores</i> sean los
    encargados de "construir" su propia historia.
  </p>
  <p class="bodyText">
    Skyrim es un buen ejemplo de esta idea: una de las partes más divertidas de ese juego no es seguir la flecha que te
    indica a dónde ir para progresar la historia. Es empezar a caminar sin rumbo y ver qué te encuentras. Encontrar una
    cueva, explorarla y encontrar pistas acerca de un campamento de bandidos que recientemente ha dado un lucrativo
    golpe. Pero tras buscar ese campamento de bandidos, descubres que el botín más interesante no son las joyas y el
    oro: es la llave que el bandido jefe guardaba en su bolsa, que supuestamente abre la puerta de unas ruinas perdidas
    de una civilización olvidada.
  </p>
  <p class="bodyText mt-4">
    Es esta clase de "aventura emergente" la que se busca emular en la campaña de las Tierras Veladas. Se busca que los
    jugadores sean los impulsores de la partida, ellos sean quienes tienen el control. En esencia, que los jugadores
    tengan
    la posibilidad de elegir sus propias aventuras, ir y explorar donde quieran, hacer lo que quieran.
  </p>
  <p class="bodyText mt-4">
    <a href="https://arsludi.lamemage.com/index.php/78/grand-experiments-west-marches/" class="text-secondary underline"
      target="_blank" (click)="stopPropagation($event)">
      Este artículo
    </a> del creador original de este estilo de juego ofrece más información y una visión más completa de la idea de
    esta campaña.
  </p>
</app-info-section>

<app-info-section #gameSection>
  <h1 heading class="text-6xl font-titleFont">El juego</h1>
  <p class="my-4 bodyText">
    El sistema de juego elegido para esta partida es GURPS.
  </p>
  <p class="bodyText">
    GURPS es un sistema de reglas modular e increíblemente personalizable, ofreciendo la posibilidad de crear cualquier
    tipo de personaje que a uno se le ocurra. El carácter modular de estas reglas ofrece beneficios sobre otros sitemas
    de
    juego más "conocidos": no es un "monolito" en el que quitar o poner una regla personalizada hace que todo el sistema
    se tambalee (o, como mínimo, requiere de un gran esfuerzo por parte del DM para adaptarlo. Al fin y al cabo, no
    todos
    somos diseñadores de juegos), sino que en general se comporta más como un conjunto de bloques de Lego que se pueden
    quitar y poner para crear el juego ideal.
  </p>
  <p class="my-4 bodyText">
    Esto permite crear un sistema de juego ideal para todos. Puede que al DM le guste la idea de que un combatiente se
    vuelva menos capaz a medida que sufre heridas, pero que los jugadores lo aborrezcan. En GURPS, es tan fácil como
    ignorar esa regla, mientras que si fuera otro sistema, probablemente habría que rebalancear el juego de alguna
    manera porque dicha regla sería una parte integral del "monolito".
    Esto es importante, porque es mi primera partida con este sistema. Puede que lo que yo considere divertido no lo sea
    para los demás. En un sistema modular y adaptable como GURPS, se puede hablar y llegar a un acuerdo y en el caso de
    que haya que modificar algo, el proceso es lo más sencillo posible.
  </p>
  <p class="my-4 bodyText">
    Se puede encontrar más información sobre las reglas de GURPS
    <a href="/rules" class="text-secondary underline" (click)="stopPropagation($event)">
      aquí
    </a>
  </p>
</app-info-section>