<app-header></app-header>

<div class="w-[75%] mx-auto mt-16 mb-24 flex flex-col items-center">
  <h1 class="font-titleFont text-6xl self-center my-10">La Campaña</h1>
  <app-splitter [alternateColor]="true" class="w-2/4" />
  <div class="my-8">
    <p class="mt-4 bodyText italic">
      "¿Quién no ha oído rumores de la ciudad perdida de Arden Vul? Durante los días de gloria del Imperio Arcónteo,
      hace ahora 1,200 años,
      Arden Vul era un pequeño, pero importante, centro imperial, rico y secreto, situado en lo alto de un acantilado de
      1,500 pies en la cabecera del Valle de Burdock.
      Dominada por la administración imperial y por los grandes templos de Ogma e Ilneval, la ciudad atraía en masa a
      alquimistas, eruditos, sacerdotes y hechiceros.
      Buscando los secretos perdidos de civilizaciones extintas hace mucho tiempo, así como el misterioso elemento
      conocido como arcanum,
      los Arcónteos excavaron profundamente -y en secreto- en la montaña. Pero la terrible guerra civil que desgarró el
      Imperio Arcónteos, la guerra entre
      Sortianos y Teósofos, condujo a la total destrucción de la ciudad y a la retirada de las legiones imperiales del
      continente occidental de Irthuin."
    </p>
    <p class="mt-4 bodyText italic">
      "Ahora, con el renacimiento del poder imperial, es posible hacer el largo viaje a Arden Vul desde los exarcados de
      la costa para aventureros bien equipados.
      Los relatos de oro apilado en las bóvedas imperiales, artefactos mágicos legendarios descansando en criptas
      inexploradas, y los frutos de los secretos perdidos de
      antiguos herreros y magos imperiales, están al alcance de la mano. Sin embargo, junto a las historias de tesoros
      perdidos, hay otros susurros más inquietantes.
      ¿Cómo podría una ciudad perdida permanecer intacta durante más de un milenio? Seguramente, solo la existencia de
      los más crueles enemigos y un mal inimaginable
      dentro de la montaña pueden explicar el estado intacto de Arden Vul. Solo los aventureros más valientes, astutos y
      afortunados sobrevivirán para desentrañar los
      misterios de Arden Vul."
    </p>
  </div>

  <app-splitter [alternateColor]="true" class="w-2/4" />
  <app-splitter [alternateColor]="true" [flipped]="true" class="w-2/4" />

  <div class="my-8">
    <p class="mt-4 bodyText">
      La campaña girará en torno a <b class="text-primary">Arden Vul</b>, un <i>enorme</i> complejo de túneles y mazmorras excavadas en el interior
      de un acantilado, y en menor medida, las inmediaciones de dicho complejo.
    </p>
    <p class="mt-4 bodyText">
      No es una campaña del rol al uso; no hay una "narrativa general" que guía el juego y las decisiones de los
      jugadores, sino que se basa en la premisa de un grupo de exploradores, aventureros, buscafortunas, asaltatumbas y
      demás amigos del peligro zambuyéndose en las mazmorras, sorteando sus peligros, descubriendo e investigando sus
      (muchos, y muy lucrativos) secretos, y saqueando sus tesoros.<br>
      Una campaña de rol corriente sería Frodo y compañía marchando hacia Mordor para destruir el Anillo. Por su lado,
      el símil de
      Arden Vul sería si la acción girara en torno a un grupo de bandidos que se hubieran dedicado a explorar las minas
      de Moria y a desentrañar sus secretos olvidados.
    </p>
    <p class="mt-4 bodyText">
      Esto no quiere decir que la partida gire en torno a un ciclo continuo de "atravesar pasillo, dar patada a la
      puerta, matar al monstruo que habite la habitación, saquear el tesoro, repetir". Al menos, no necesariamente: los
      jugadores tienen libertad sobre cómo afrontar la mazmorra. <br>
      En efecto, Arden Vul es un lugar vivo, es el hogar de infinidad de seres vivos (y no tan vivos), con sus
      motivaciones y sus objetivos. Hay abundantes oportunidades para rolear e interpretar al personaje. Hay muchos
      secretos y pistas que dan información sobre el trasfondo de Arden Vul. Hay muchas ocasiones en las que las
      acciones en un lugar del complejo tienen un impacto significativo en otra parte, e incluso la interacción con
      habitantes de Arden Vul puede dar lugar a misiones y objetivos con un propósito definido.
    </p>
  </div>
</div>