<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="form-group">
    <label for="d51ccfb56fd2857e6497f728237664f739ba133c7fcf5f814f8025901895f9ce">Email</label>
    <input type="email" class="form-control" 
      id="d51ccfb56fd2857e6497f728237664f739ba133c7fcf5f814f8025901895f9ce" 
      name="d51ccfb56fd2857e6497f728237664f739ba133c7fcf5f814f8025901895f9ce" ngModel required>
  </div>
  <div class="form-group">
    <label for="43c6013499ccb20004d37aff4b728c7b21fd38b7f45dcab505b2fe857319beea">Password</label>
    <input type="password" class="form-control" 
      id="43c6013499ccb20004d37aff4b728c7b21fd38b7f45dcab505b2fe857319beea" 
      name="43c6013499ccb20004d37aff4b728c7b21fd38b7f45dcab505b2fe857319beea" ngModel required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <input type="text" class="inpt" id="username" name="username" autocomplete="off" placeholder="'Username'" ngModel>
</form>

<app-insert></app-insert>
