.home-background {
  top: 0;
  left: 0;
  width: 100vh;
  /* height: 70vh; */
  height: 100vh;
  background-image: url('/assets/images/splash-web.webp');
  background-position: center;
  background-size: cover;
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); */
}

.title-shadow {
  text-shadow: 1px 0 4px rgb(140, 111, 20), 0 1px 4px rgb(140, 111, 20),1px 1px 4px rgb(140, 111, 20), 0 0 4px rgb(140, 111, 20)
}