<div>
  <div class="">
    <div class="flex flex-col items-center pt-20">
      <h1 class="text-8xl title-shadow font-titleFont text-yellow-400"
        [@fadeIn]
        (@fadeIn.done)="onTitleFadeIn()"
      >LOS PASILLOS DE ARDEN VUL</h1>
    </div>
  </div>
  <div class="pb-48">
    <app-info-section #gameSection>
      <a href="/campaign" heading class="text-6xl font-titleFont text-white no-underline">La campaña</a>
    </app-info-section>
    <app-info-section #gameSection>
      <a href="/game" heading class="text-6xl font-titleFont text-white no-underline">El juego</a>
    </app-info-section>
  </div>
</div>